                            <Field
                                name='{{name}}'
                                label={localisation.current.{{name}}}
                                data={localisation.current.{{name}}_data}
                                component={FormRadioGroup}
                            />